<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tempestas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tempestas.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <add name="FileLogListener" />
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter" />
          <add name="FileLogListener"
    type="Microsoft.VisualBasic.Logging.FileLogTraceListener, &#xD;&#xA;          Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, &#xD;&#xA;          PublicKeyToken=b03f5f7f11d50a3a"


    initializeData="FileLogListenerWriter"
    location="Custom"
    customlocation="c:\" />
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Tempestas.My.MySettings>
            <setting name="FirstTimeStartup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HelpPath" serializeAs="String">
                <value>|DataDirectory|\Help\Tempestas Help.chm</value>
            </setting>
            <setting name="dbPath" serializeAs="String">
                <value>\Data\dbTempestas.mdf</value>
            </setting>
        </Tempestas.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Tempestas.My.MySettings>
            <setting name="TimetableVersion" serializeAs="String">
                <value>1.1</value>
            </setting>
        </Tempestas.My.MySettings>
    </applicationSettings>
</configuration>
